body {
  --bg-color: white;
  background: var(--bg-color);
  font-family: "DM Sans", Arial, sans-serif;
  cursor: url("https://cdn.jsdelivr.net/gh/saadpasta/developerFavicon@master/cursor/hand.cur"),
    auto;
}

.bg-color {
  background: linear-gradient(
    to bottom,
    rgba(232, 247, 252, 1) 0%,
    rgba(249, 249, 249, 1) 100%
  );
}

.machine {
  width: 12vw;
  fill: #000000;
}

.small-shadow,
.medium-shadow,
.large-shadow {
  fill: rgba(0, 0, 0, 0.05);
}

.small {
  -webkit-animation: counter-rotation 2.5s infinite linear;
  -moz-animation: counter-rotation 2.5s infinite linear;
  -o-animation: counter-rotation 2.5s infinite linear;
  animation: counter-rotation 2.5s infinite linear;
  -webkit-transform-origin: 100.136px 225.345px;
  -ms-transform-origin: 100.136px 225.345px;
  transform-origin: 100.136px 225.345px;
}

.small-shadow {
  -webkit-animation: counter-rotation 2.5s infinite linear;
  -moz-animation: counter-rotation 2.5s infinite linear;
  -o-animation: counter-rotation 2.5s infinite linear;
  animation: counter-rotation 2.5s infinite linear;
  -webkit-transform-origin: 110.136px 235.345px;
  -ms-transform-origin: 110.136px 235.345px;
  transform-origin: 110.136px 235.345px;
}

.medium {
  -webkit-animation: rotation 3.75s infinite linear;
  -moz-animation: rotation 3.75s infinite linear;
  -o-animation: rotation 3.75s infinite linear;
  animation: rotation 3.75s infinite linear;
  -webkit-transform-origin: 254.675px 379.447px;
  -ms-transform-origin: 254.675px 379.447px;
  transform-origin: 254.675px 379.447px;
}

.medium-shadow {
  -webkit-animation: rotation 3.75s infinite linear;
  -moz-animation: rotation 3.75s infinite linear;
  -o-animation: rotation 3.75s infinite linear;
  animation: rotation 3.75s infinite linear;
  -webkit-transform-origin: 264.675px 389.447px;
  -ms-transform-origin: 264.675px 389.447px;
  transform-origin: 264.675px 389.447px;
}

.large {
  -webkit-animation: counter-rotation 5s infinite linear;
  -moz-animation: counter-rotation 5s infinite linear;
  -o-animation: counter-rotation 5s infinite linear;
  animation: counter-rotation 5s infinite linear;
  -webkit-transform-origin: 461.37px 173.694px;
  -ms-transform-origin: 461.37px 173.694px;
  transform-origin: 461.37px 173.694px;
}

.large-shadow {
  -webkit-animation: counter-rotation 5s infinite linear;
  -moz-animation: counter-rotation 5s infinite linear;
  -o-animation: counter-rotation 5s infinite linear;
  animation: counter-rotation 5s infinite linear;
  -webkit-transform-origin: 471.37px 183.694px;
  -ms-transform-origin: 471.37px 183.694px;
  transform-origin: 471.37px 183.694px;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@-webkit-keyframes counter-rotation {
  from {
    -webkit-transform: rotate(359deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes counter-rotation {
  from {
    -moz-transform: rotate(359deg);
  }
  to {
    -moz-transform: rotate(0deg);
  }
}
@-o-keyframes counter-rotation {
  from {
    -o-transform: rotate(359deg);
  }
  to {
    -o-transform: rotate(0deg);
  }
}
@keyframes counter-rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.logo-cover {
  position: relative;
  height: 6vh;
  width: 10vw;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .logo-cover {
    width: 30vw;
  }
  .bot-col-4 {
    width: 100% !important;
    min-width: 100% !important;
  }
  .icon_size_png {
    width: 20vw !important;
  }
}

.custom-container-fluid {
  --bs-gutter-x: 10rem !important;
}

/* .dropdown-nav:hover > .dropdown-nav-menu {
  display: block;
}

.dropdown-nav > .dropdown-nav-toggle:active {
  pointer-events: none;
} */
.navbar:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.navbar {
  background: rgba(255, 255, 255, 0.292);
}

@media only screen and (max-width: 768px) {
  .custom-container-fluid {
    --bs-gutter-x: 0.5rem !important;
  }
}

.nav-dropdown-menu {
  background: #ffffff !important;
}

.nav-dropdown-item {
  background: #ffffff !important;
  color: var(--bs-nav-link-color) !important;
  font-size: 0.9rem;
  font-weight: 500 !important;
}

.nav-link:hover,
.nav-item:hover {
  color: #92254f !important;
}

.nav-dropdown-item:hover {
  background: #ffffff !important;
  color: #92254f !important;
}

.carousel-caption {
  top: 0rem !important;
  color: #fff !important;
  text-align: left !important;
  right: 0% !important;
  left: 0% !important;
  padding-top: 0% !important;
  bottom: 0rem !important;
  padding-bottom: 0rem !important;
}

.dropend .dropdown-toggle {
  color: salmon;
  margin-left: 1em;
}
.dropdown-item:hover {
  background-color: lightsalmon;
  color: #fff;
}
.dropdown .dropdown-menu {
  display: none;
}
.dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
  display: block;
  margin-top: 0.125em;
  margin-left: 0.125em;
}
@media screen and (min-width: 769px) {
  .dropend:hover > .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
  }
  .dropend .dropdown-toggle {
    margin-left: 0.5em;
  }
}

.nav-dropdown-w-50vw {
  width: 50vw;
}

.gold_text {
  background: linear-gradient(
    88deg,
    #92254f -11.16%,
    #92254f 46.95%,
    #92254f 94.89%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.body-black-bg {
  background: linear-gradient(360deg, #0000002e, #0000);
}

.text-color-white {
  color: white !important;
}

.no-border {
  border: 0;
  box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}

.form-floating .form-control,
.form-floating .form-select {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #000;
  padding-left: 0.2em;
}
.form-floating .form-control:focus,
.form-floating .form-select:focus {
  box-shadow: none;
  border-bottom: 2px solid blue;
}
.form-floating .form-control:focus + label,
.form-floating .form-select:focus + label {
  color: blue;
}
.form-floating .form-control + label,
.form-floating .form-select + label {
  padding-left: 0;
  transition: all 0.5s;
}
.btn-outline-primary {
  color: blue;
  border-color: blue;
  border-radius: 0;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus {
  background-color: blue;
  color: #fff;
  box-shadow: 0 4px 6px rgba(22, 22, 26, 0.18);
}

input,
input[type="password"],
input[type="search"] {
  cursor: auto;
}

.fa-facebook-square:hover {
  background: linear-gradient(
    88deg,
    #e8d325 -11.16%,
    #91b92f 46.95%,
    #349542 94.89%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  text-decoration: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

.border_bottom_light {
  border-bottom: 0.5px solid #a1a1a9;
}

.hide-scroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scroll-behavior: smooth;
}

.accordion-item {
  background: transparent !important;
  color: white !important;
}

.accordion-button {
  /* background: transparent !important; */
  font-size: 1.3rem !important;
  font-weight: 400 !important;

  background: linear-gradient(
    88deg,
    #e8d325 -11.16%,
    #91b92f 46.95%,
    #349542 94.89%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button:after {
  color: white !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.accordion-toggle {
  background-color: gray;
  display: block;
  padding: 10px;
  margin: -10px -15px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.accordion-button.collapsed {
  background: linear-gradient(
    88deg,
    #f3f3f3 -11.16%,
    #ffffff 46.95%,
    #ffffff 94.89%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tossing:hover {
  animation-name: tossing;
  -webkit-animation-name: tossing;
  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
  0% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}

@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(-4deg);
  }
}

.card-hover:hover {
  cursor: pointer;
  background: #948f8f26;
}
.bot-col-4 {
  width: calc(25% - 2%);
  min-width: calc(25% - 2%);
}
.bot-col-3 {
  width: calc(33.33% - 100px);
  min-width: calc(33.33% - 100px);
}

span.step {
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: black;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em;
  background: white;
}

hr {
  border-color: #92254f !important;
}

.ul-align-center {
  display: table;
  margin-right: auto;
  margin-left: auto;
}

.bg-animated {
  background: -moz-linear-gradient(
    45deg,
    #02e1ba 0%,
    #26c9f2 29%,
    #d911f2 66%,
    #ffa079 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #04041e 5%,
    rgb(35, 35, 89) 24%,
    #000000 100%
  );
  background: linear-gradient(
    45deg,
    #04041e 5%,
    rgb(35, 35, 89) 24%,
    #000000 100%
  );
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  /*min-height: calc(100vh - 2rem);*/
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  overflow: hidden;
  position: relative;
}

.bg-animated::before,
.bg-animated::after {
  content: "";
  width: 70vmax;
  height: 70vmax;
  position: absolute;
  background: rgba(255, 255, 255, 0.07);
  left: -20vmin;
  top: -20vmin;
  animation: morph 15s linear infinite alternate, spin 20s linear infinite;
  z-index: 1;
  will-change: border-radius, transform;
  transform-origin: 55% 55%;
  pointer-events: none;
}

.bg-animated::after {
  width: 70vmin;
  height: 70vmin;
  left: auto;
  right: -10vmin;
  top: auto;
  bottom: 0;
  animation: morph 10s linear infinite alternate,
    spin 26s linear infinite reverse;
  transform-origin: 20% 20%;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  }
  100% {
    border-radius: 40% 60%;
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.d-none-sm {
}

@media only screen and (max-width: 768px) {
  .d-none-sm {
    display: none !important;
  }
}

.modal-content {
  border: none !important;
  border-radius: 2px !important;
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22),
    0 25px 55px 0 rgba(0, 0, 0, 0.21) !important;
}

/* .modal.fade .modal-dialog {
  transition: transform 0.75s ease-in !important;
  transform: rotate(75deg) !important;
} */

.modal.fade.zoom:not(.show) .modal-dialog {
  transform: scale(0.8);
}

#spinner-div {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}

.icon_size_png {
  width: 5vw;
}

.fadeIn {
  opacity: 1;
  -webkit-animation: fadeIn 7.5; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeIn 7.5; /* Firefox < 16 */
  -ms-animation: fadeIn 7.5; /* Internet Explorer */
  -o-animation: fadeIn 7.5; /* Opera < 12.1 */
  animation: fadeIn 7.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.footer-menu-item {
  color: white !important;
  font-size: 0.9rem;
}

.btn-whatsapp-pulse {
  background: linear-gradient(
    88deg,
    #e8d325 -11.16%,
    #91b92f 46.95%,
    #349542 94.89%
  );
  color: white;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
  padding: 35px;
  text-decoration: none;
  border-radius: 50%;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
  }
  80% {
    box-shadow: 0 0 0 14px rgba(208, 208, 208, 0);
  }
}

.btn-whatsapp-pulse-border {
  bottom: 120px;
  right: 20px;
  animation-play-state: paused;
}

.btn-whatsapp-pulse-border::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  padding: 25px;
  border: 5px solid #ffffff;
  opacity: 0.75;
  animation-name: pulse-border;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulse-border {
  0% {
    padding: 25px;
    opacity: 0.75;
  }
  75% {
    padding: 50px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.fixed {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 999;
}
.button {
  display: block;
  border: 0;
  line-height: 3;
  margin-bottom: 0.3em;
  outline: none;
  text-decoration: none;
  color: #fff;
  width: 10vw;
  font-size: 16px;
  border-radius: 20px 0 0 20px;
}
.buttonDiv {
  padding: 0 21px;
  border-radius: 30px 0 0 30px;
}
.buttonDiv:hover {
  background: white;
  transition: margin 500ms;
  margin-left: -20px;
}

.bg-b-blue {
  background: linear-gradient(
    88deg,
    #e8d325 -11.16%,
    #91b92f 46.95%,
    #349542 94.89%
  );
}
.bg-b-blue:hover {
  background: linear-gradient(
    88deg,
    #e8d325 -11.16%,
    #91b92f 46.95%,
    #349542 94.89%
  );
}

@media only screen and (max-width: 768px) {
  .button {
    width: 30vw;
  }
}

.navbar-nav > li > a {
  padding: 0;
  margin: 0;
  vertical-align: bottom;
}

.iconClass {
  position: relative;
}
.iconClass span {
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
}

.goldsiver-box {
  top: 75%;
  border-radius: 20px;
  box-shadow: 0 5px 15px #00000059;
  left: 160px !important;
  max-width: 520px;
  position: absolute;
  width: 100%;
  z-index: 99;
}

@media screen and (min-width: 1300px) {
  .goldsiver-box {
    /* bottom: -111px !important; */
    left: 33px !important;
  }
}
@media screen and (min-width: 1200px) {
  .goldsiver-box {
    /* bottom: -111px !important; */
    left: 7px !important;
  }
}

@media (max-width: 991px) {
  .goldsiver-box {
    max-width: 370px;
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .goldsiver-box {
    position: static !important;
  }
}

.livebuy span {
  background: #fff4c7;
  border-radius: 5px;
  color: #b99d0b;
  padding: 0 5px;
}
